#footer-menu {
    height: 60px;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 15;
    background-color: #202020;
}

.logo {
    display: flex;
    align-items: flex-start;
    height: 20px;
    width: auto;
    position: absolute;
    left: 20px;
    bottom: : 20px;
    z-index: 15;
}

.redes {
    height: 20px;
    width: auto;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 15;

}

#ig {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 15;
}

#face {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 70px;
    top: 20px;
    z-index: 15;
}
